.form-label {
	text-align: left;
	justify-content: left;
	padding: 5px 0px;
}

.form-field-container {
	padding: 5px 0px;
}


.top-space-10 {
	margin-top: 10px;
}
.work-table {
	width: 100%;		
}
.work-table th , td, h5 {
	padding: 15px 5px;
}

.bill-form input {
	width: 80%;
}

.padding-empty {
	padding: 10px;
}

.margin-empty {
	margin: 0px;
}