<div> </div>
<!-- <app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new channnel</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addChannelForm" (ngSubmit)="addChannel()">
      <input class="form-control mr-2" type="text" name="name"
             formControlName="name" placeholder="Name">
      <input class="form-control mr-2" type="text" name="channelImage"
             formControlName="name" placeholder="Channel Image">

      <input class="form-control mr-2" type="string" name="category"
             formControlName="category" placeholder="Category" min="0">
      <input class="form-control mr-2" type="string" name="url"
             formControlName="url" placeholder="RSS URL" min="0">
      <input class="form-control mr-2" type="string" name="language"
             formControlName="language" placeholder="Language" min="0">
      <button class="btn btn-primary" type="submit">
        <i class="fa fa-plus"></i> Add
      </button>
    </form>
  </div>
</div>
<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current Channels ({{channels.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Image</th>
          <th scope="col">Id</th>
          <th scope="col">URL</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="channels.length === 0">
        <tr>
          <td colspan="4">There are no channels in the DB. Add a new channel below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let channel of channels">
          <td>{{channel.name}}</td>
          <td>{{channel.channelImage}}</td>
          <td>{{channel.id}}</td>
          <td>{{channel.url}}</td>

          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(channel)">
              <i class="fa fa-pencil"></i> Edit
            </button> 
            <button class="btn btn-sm btn-danger ml-1" (click)="deleteChannel(channel)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editChannel(channel)">
              <input class="form-control mr-2" type="text" name="name"
                     [(ngModel)]="channel.name" placeholder="Name" required>
              <input class="form-control mr-2" type="number" name="price"
                     [(ngModel)]="channel.price" placeholder="Price" min="0" required>
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
 -->