<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<div class="card" *ngIf="isAdd">
  <h4 class="card-header">Add new spare</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addSpareForm" (ngSubmit)="addSpare()">
      <input class="form-control mr-2 mb-2" type="text" name="name"
             formControlName="name" placeholder="Name">
      <input class="form-control mr-2 mb-2" type="number" name="price"
             formControlName="price" placeholder="Price" min="0" (input)="calculateGst()">
      <input class="form-control mr-2 mb-2" type="number" name="availableItems"
             formControlName="availableItems" placeholder="Availability" min="0">
      <input class="form-control mr-2 mb-2" type="text" name="brand"
             formControlName="brand" placeholder="Brand" min="0">       
      <select class="mb-2" formControlName="hsnId" name="hsnId" selected (change)="calculateGst()">
              <option value="">Select HSN </option> 
              <option *ngFor="let tax of taxes" [ngValue]="tax">{{tax.hsnId}}</option> 
        </select>               
      <input class="form-control mr-2 mb-2" type="number" name="total"
        formControlName="total" placeholder="Mrp " min="0" >  
      <select formControlName="type">
            <option value="" selected>Select Type </option> 
            <option value="engine">Engine Spare </option> 
            <option value="body">Body Spare </option> 
            <option value="others">Other Spare </option> 
      </select>              
      <button class="btn btn-primary mb-2" type="submit" [disabled]="!addSpareForm.valid">
        <i class="fa fa-plus"></i> Add
      </button>
    </form>
  </div>
</div>
<div class="row">
  <div class="md-form m-2 col-xs-12 col=sm-12 col-md-12 col-lg-2">
    <input 
      class="form-control w-100 mt-2" 
      type="text" 
      [(ngModel)]="searchFilter.search"  
      placeholder="Search Spare" 
      aria-label="Search"
    >
 
    
  </div>



 <div class="col-xs-12 col=sm-12 col-md-12 col-lg-2">
    <button 
      (click)=" getSpares()" 
      class="btn btn-success mt-3">
        Search
      <i class="fa fa-search text-search-icon">
        
      </i>
    </button>
   </div>
</div>
<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Total Spares <span class="text-success">({{spares.length}}) </span>
   <i *ngIf="!isAdd" class="fa fa-plus-circle text-success px-5" (click)="isAdd=true"></i>
   <i *ngIf="isAdd" class="fa fa-minus-circle text-danger px-5" (click)="isAdd=false"></i> </h4>

   <div class="card-body">
    <table class="table table-bordered srink-table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Mrp</th>
          <th scope="col">HSN Id</th>
          <th scope="col">Availability</th>
          <th scope="col">Brand</th>
          <th scope="col">Availability</th>
          <th scope="col">Type</th>

          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="spares.length === 0">
        <tr>
          <td colspan="4">There are no spares in the DB. Add a new spares below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let spare of spares; let i = index">
          <td>{{spare.name}}</td>
          <td>{{spare.price}}</td>
          <td>{{spare.total}}</td>
          <td>{{spare?.hsnId.hsnId}}</td>
          <td>
              <div 
                class="shortage" *ngIf="spare.availableItems < 10"
              >
                            </div>
              <div class="available" *ngIf="spare.availableItems >= 10">
               
              </div>
          </td>
          <td>{{spare.brand}}</td>
          <td class="text-center"><span class="plus text-success" (click)="updateItem(spare, 1)">+</span><span class="count-text">{{spare.availableItems}}</span><span class="minus" (click)="updateItem(spare, -1)">-</span></td>
          
          <td>{{spare.type}}</td>

          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(spare)">
              <i class="fa fa-pencil"></i> 
            </button> 
            <button class="btn btn-sm btn-danger ml-1" (click)="deleteSpare(spare)">
              <i class="fa fa-trash"></i> 
            </button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editSpare(spare)">
              <input class="form-control mr-2" type="text" name="name"
                     [(ngModel)]="spare.name" placeholder="Name" required>
              <input class="form-control mr-2" type="number" name="price"
                     [(ngModel)]="spare.price" placeholder="Price" min="0" required>
              <input class="form-control mr-2" type="text" name="availableItems"
                     [(ngModel)]="spare.availableItems" placeholder="Availability" min="0" required>       
              <input class="form-control mr-2" type="text" name="brand"
                     [(ngModel)]="spare.brand" placeholder="Price" min="0" required>       
              <input class="form-control mr-2" type="text" name="type"
                     [(ngModel)]="spare.type" placeholder="Type" min="0" required>                
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
