<div class="">
  <!-- <h4 class="card-header">About</h4> -->
  <div class="card-body pt-3 dash-count">
  	<div class="row py-5">
  		<div class="col-md-3 mt-3">
        <a routerLink="/billing">
          <div class="c-shadow c-radius py-1">
      			<div class="text-center pt-3">
      				<h3 class="number-text">Bills <i class="fa fa-money text-dark"></i></h3>
      			</div>
      			<div  class="text-center result-count my-2">
      				<h2 class="number-text">{{totalItems.bills}}</h2>
      			</div>
          </div>
        </a>  			
  		</div>
      <div class="col-md-3 mt-3">
       <a routerLink="/spares">
          <div class="c-shadow c-radius py-1">
            <div class="text-center pt-3">
              <h3 class="number-text">Spares <i class="fa fa-wrench text-dark"></i></h3>
            </div>
            <div  class="text-center result-count my-2">
              <h2 class="number-text">{{totalItems.spares}}</h2>
            </div>        
          </div>
        </a>
      </div>  		
      <div class="col-md-3 mt-3">
       <a routerLink="/works">
        <div class="c-shadow c-radius py-1">
            <div class="text-center pt-3">
              <h3 class="number-text">Works <i class="fa fa-cogs text-dark"></i></h3>
            </div>
            <div  class="text-center result-count my-2">
              <h2 class="number-text">{{totalItems.works}}</h2>
            </div>
          </div>
          </a>        
      </div>
      <div class="col-md-3 mt-3">
         <a routerLink="/vehicles">
          <div class="c-shadow c-radius py-1">
            <div class="text-center pt-3">
              <h3 class="number-text">Vehicles <i class="fa fa-truck text-dark"></i></h3>
            </div>
            <div  class="text-center result-count my-2">
              <h2 class="number-text">{{totalItems.vehicles}}</h2>
            </div>
          </div>
        </a>        
      </div>
  		
  	</div>	
  </div>
</div>