<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>


<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new work</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addWorkForm" (ngSubmit)="addWork()">
      <input class="form-control mr-2" type="text" name="name"
             formControlName="name" placeholder="Name">
      <input class="form-control mr-2" type="number" name="age"
             formControlName="price" placeholder="Price" min="0">
      <select formControlName="hsnId" name="hsnId" selected>
              <option value="">Select HSN </option> 
              <option *ngFor="let tax of taxes" [ngValue]="tax">{{tax.hsnId}}</option> 
        </select>   
      <button class="btn btn-primary" type="submit" [disabled]="!addWorkForm.valid">
        <i class="fa fa-plus"></i> Add
      </button>
    </form>
  </div>
</div>
<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current Works ({{works.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">HSN Id</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="works.length === 0">
        <tr>
          <td colspan="4">There are no works in the DB. Add a new work below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let work of works">
          <td>{{work.name}}</td>
          <td>{{work.price}}</td>
          <td>{{work.hsnId}}</td>

          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(work)">
              <i class="fa fa-pencil"></i> Edit
            </button> 
            <button class="btn btn-sm btn-danger ml-1" (click)="deleteWork(work)">
              <i class="fa fa-trash"></i> Delete
            </button>
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editWork(work)">
              <input class="form-control mr-2" type="text" name="name"
                     [(ngModel)]="work.name" placeholder="Name" required>
              <input class="form-control mr-2" type="number" name="price"
                     [(ngModel)]="work.price" placeholder="Price" min="0" required>
              <input class="form-control mr-2" type="text" name="hsnId"
                     [(ngModel)]="work.hsnId" placeholder="HSN Id" min="0" required>      
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid">
                <i class="fa fa-floppy-o"></i> Save
              </button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()">
                <i class="fa fa-times"></i> Cancel
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
